$primary-rgba: rgb(42 69 161 / .3);
$oscure:#252525;
$gray-dark:#404040;
$gray: #808080;
$gray-light:#bfbfbf;
$gray-x-light:#e0e0e0;
$gray-xx-light:#f3f3f3;

/*PLACEHOLDER*/
::placeholder { color: $gray!important; }
  
:-ms-input-placeholder { color: $gray!important; }

::-ms-input-placeholder { color: $gray!important; }
/*PLACEHOLDER*/

.border-soft{ border-color: $primary-rgba!important; }
.custom-shadow{ box-shadow: 0 0 2px rgb(0 0 0 / .25); }

/*CARD*/
.header-home-card{
    left: -40px;
    bottom: -5px;
}
.photo-user-card{
    width: 80px;
    height: 80px;
    top: -40px;
    flex: 0 0 80px;
}
.info-card{
    z-index: 1;
}
.decoration-card{
    height: 100%;
    width: 150%;
    z-index: 0;
    bottom: -27%;
    left: -27%;
}
/*CARD*/

/*FILTERS*/
#filters{
    background-color: $gray-xx-light;
    border-right: 1px solid $gray-x-light;
}
/*FILTERS*/