$primary-rgba: rgb(42 69 161 / .3);
$oscure:#252525;
$gray-dark:#404040;
$gray: #808080;
$gray-light:#bfbfbf;
$gray-x-light:#e0e0e0;
$gray-xx-light:#f3f3f3;
$font-12: 0.75rem;

html{
    overflow-x: hidden;
}

*{
    &:focus{
        outline: 1px dotted;
    }
}

/*PLACEHOLDER*/
::placeholder { color: $gray-light!important; }
  
:-ms-input-placeholder { color: $gray-light!important; }

::-ms-input-placeholder { color: $gray-light!important; }
/*PLACEHOLDER*/

/*SCROLL*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: $gray-light;
    border-radius: 50rem;
    &:hover{
        background-color: $gray-dark;
    }
}
  
::-webkit-scrollbar-track {
    background-color: $gray-x-light;
    border-radius: 50rem;
}
/*SCROLL*/

/*MENUS*/
.navigation{
    a{
        text-decoration: none;
        &:hover,
        &.active{
            border-bottom: 1px dotted;
            padding-bottom: .15rem;
        }
    }
}
.link-icon{
    &:hover{
        opacity: .7;
    }
}
/*MENUS*/

/*HEADER*/
.main-header{
    z-index: 2;
}
/*HEADER*/

/*HOME*/
.main-home-login{
    min-height: 500px;
}
/*HOME*/

/*VIDEO*/
.video{
    top: -58%;
}
.video{
    div{
        height: 120vh;
        video{
            object-fit: cover;
            height: 120vh;
        }
    }
}
/*VIDEO*/

/*CARD*/
.header-home-card{
    left: -40px;
    bottom: -5px;
}
.photo-user-card{
    width: 80px;
    height: 80px;
    top: -40px;
    flex: 0 0 80px;
}
.info-card{
    z-index: 1;
    &>div{
        min-height: 150px;
    }
}
.decoration-card{
    height: 100%;
    width: 150%;
    z-index: 0;
    bottom: -28%;
    left: -27%;
}
/*CARD*/

/*FILTERS*/
#filters{
    background-color: $gray-xx-light;
    border-right: 1px solid $gray-x-light;
    form{
        top: 5rem;
        height: calc(100vh - 235px);
    }
}
/*FILTERS*/

/*SKILL*/
.skill,
.menu-profile{
    background-color: $gray-xx-light;
    border: 1px solid $gray-x-light;
    top: 6rem;
}
/*SKILL*/

/*DETALLE*/
.user-photo-detail{
    height: 400px;
}
/*DETALLE*/

/*PROFILE*/
.photo-profile{
    border-bottom-style: dashed!important;
    &>span{
        width: 100px;
        height: 100px;
        button{
            bottom: -10px;
            right: 0;
            width: 45px;
            height: 45px;
        }
    }
}
/*PROFILE*/

/*FAVORITE*/
.btn-fav span{
    &:hover{
        color: var(--bs-danger)!important;
    }
}
/*FAVORITE*/

/*TOAST*/
.toast-container{
    z-index: 9991;
}
/*TOAST*/

/*UTILITIES*/
.border-soft{ border-color: $primary-rgba!important; }
.custom-shadow{ box-shadow: 0 0 2px rgb(0 0 0 / .25); }
.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.link{ 
    color: var(--bs-auxiliar); 
}
.link{
    &:active{
        color: var(--bs-danger);
    }
}
.link{
    &:visited{
        color: var(--bs-purple);
    }
}
.link{
    &:focus{
        outline: 1px dotted var(--bs-primary);
    }
}
.link{
    &:hover{
        text-decoration: underline;
    }
}
.text-gray{
    color: $gray;
    &.active{
        color: $oscure;
        font-weight: bold;
    }
}
.text-small{
    font-size: $font-12;
}
.invert{
    filter: invert(1);
}
.pointer-event-none{
    pointer-events: none;
}
/*UTILITIES*/
@media screen and (min-width: 576px) {
    .text-xxl{
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .menu-profile{
        .small{
            font-size: 1rem;
        }
    }
    .text-xxl{
        font-size: 3.5rem;
    }
}
@media screen and (min-width: 1400px) {
    .main-home-login{
        min-height: 600px;
    }
}